<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.topdog">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:screenOrientation="sensorPortrait"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_pup_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TopDogDraft">
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NotificationActivity"
            android:configChanges="screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HomePage"
            android:configChanges="screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".WalkTracker"
            android:configChanges="screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MyProfile"
            android:configChanges="screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>/>
        <provider
            android:authorities="com.edu.neu.madcourse.topdog.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".MyStats"
            android:configChanges="screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>/>
        <activity
            android:name=".SignUp"
            android:configChanges="screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>/>
        <activity
            android:name=".Leaderboard"
            android:configChanges="screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".GPSPage.GPSActivity"
            android:configChanges="screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".GPSPage.MapActivity"
            android:configChanges="screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA_4czHi0sxfMnlOO3_icmMe8RpeudtjW8"/>
        <!--            android:value="${MAPS_API_KEY}" />-->


        <receiver android:name=".NotificationReceiver"/>?

    </application>

</manifest>